# Ironhack Final Bootcamp Project - Spaceship Titanic (Kaggle)

This project is based on the Kaggle Spaceship Titanic competition. It consists on a binary classification machine learning model, wich has the objective to predict the if a whether a person will be transported to an alternate dimension or not.

###  Importing libraries and datasets

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler, StandardScaler, Normalizer

from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV, KFold
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, roc_auc_score, roc_curve, auc

In [2]:
train_data = pd.read_csv('../data/train.csv')
test_data = pd.read_csv('../data/test.csv')

In [5]:
print('train_data shape',train_data.shape)
print('test_data shape', test_data.shape)

train_data shape (8693, 14)
test_data shape (4277, 13)

In [6]:
train_data.head()

  PassengerId HomePlanet CryoSleep  ... VRDeck               Name  Transported
0     0001_01     Europa     False  ...    0.0    Maham Ofracculy        False
1     0002_01      Earth     False  ...   44.0       Juanna Vines         True
2     0003_01     Europa     False  ...   49.0      Altark Susent        False
3     0003_02     Europa     False  ...  193.0       Solam Susent        False
4     0004_01      Earth     False  ...    2.0  Willy Santantines         True

[5 rows x 14 columns]

In [7]:
test_data.head()

  PassengerId HomePlanet CryoSleep  ...     Spa VRDeck              Name
0     0013_01      Earth      True  ...     0.0    0.0   Nelly Carsoning
1     0018_01      Earth     False  ...  2823.0    0.0    Lerome Peckers
2     0019_01     Europa      True  ...     0.0    0.0   Sabih Unhearfus
3     0021_01     Europa     False  ...   181.0  585.0  Meratz Caltilter
4     0023_01      Earth     False  ...     0.0    0.0   Brence Harperez

[5 rows x 13 columns]

In [8]:
# the test_data has one less column, wich is target column

Here you can see the description of each column:

- PassengerId - A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.
- HomePlanet - The planet the passenger departed from, typically their planet of permanent residence.
- CryoSleep - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
- Cabin - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
- Destination - The planet the passenger will be debarking to.
- Age - The age of the passenger.
- VIP - Whether the passenger has paid for special VIP service during the voyage.
- RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
- Name - The first and last names of the passenger.
- Transported - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

In [13]:
train_data.info()
# there are some nulls, i'll need to take a look at each collumn in specific to choose the best strategy to deal with it

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [15]:
train_data['PassengerId'].head(10)
# the column PassengerID has two informations, the group the passenger is travelling with, and the 
# number of the passenger within the group. i'll do feature engineering to extract some useful information.

0    0001_01
1    0002_01
2    0003_01
3    0003_02
4    0004_01
5    0005_01
6    0006_01
7    0006_02
8    0007_01
9    0008_01
Name: PassengerId, dtype: object

In [16]:
train_data['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [27]:
train_data['CryoSleep'].value_counts()

False    5439
True     3037
Name: CryoSleep, dtype: int64

In [17]:
train_data['Cabin'].head(10)
# the column Cabin has three informations, deck, number and side of the cabin
# i'll do feature engineering to extract some useful information.

0    B/0/P
1    F/0/S
2    A/0/S
3    A/0/S
4    F/1/S
5    F/0/P
6    F/2/S
7    G/0/S
8    F/3/S
9    B/1/P
Name: Cabin, dtype: object

In [20]:
train_data['Destination'].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [22]:
train_data['VIP'].value_counts()

False    8291
True      199
Name: VIP, dtype: int64

In [23]:
train_data['Name'].nunique()
# I'll drop the column Name, since it has such a high number of different values and it might not have correlation with target

8473

In [25]:
train_data['Transported'].value_counts()
# the train_data is almost exactly balanced, so there will be no need to worry about upsampling or downsampling in this case

True     4378
False    4315
Name: Transported, dtype: int64

In [26]:
train_data['PassengerId']
# i'll do feature engineering to extract the group size the passenger is in

0       0001_01
1       0002_01
2       0003_01
3       0003_02
4       0004_01
         ...
8688    9276_01
8689    9278_01
8690    9279_01
8691    9280_01
8692    9280_02
Name: PassengerId, Length: 8693, dtype: object

In [38]:
def fe_group_number(x):
    return x.split('_')[0]

def fe_passenger_number_within_group(x):
    return x.split('_')[1]

In [41]:
train_data['Group_number'] = list(map(fe_group_number, train_data['PassengerId']))
train_data['Passenger_number'] = list(map(fe_passenger_number_within_group, train_data['PassengerId']))

In [42]:
train_data[['PassengerId', 'Group_number', 'Passenger_number']]

     PassengerId Group_number Passenger_number
0        0001_01         0001               01
1        0002_01         0002               01
2        0003_01         0003               01
3        0003_02         0003               02
4        0004_01         0004               01
...          ...          ...              ...
8688     9276_01         9276               01
8689     9278_01         9278               01
8690     9279_01         9279               01
8691     9280_01         9280               01
8692     9280_02         9280               02

[8693 rows x 3 columns]

In [67]:
# this is how i'm going to extract the group size
train_data[train_data['Group_number'] == '0003']['Passenger_number'].sort_values(ascending=False).values[0]

'02'